@import url('./reset.css');
@import url('./theme.css');
@import url('./effects.css');
@import url('./navigation.css');

body {
  background-color: #111827;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Mode7GX3', monospace;
}

.crt-container {
  position: relative;
  width: 90vmin;
  aspect-ratio: 4/3;
  background-image: linear-gradient(to bottom right,
        var(--transparent-white),
        var(--transparent-white),
        transparent);
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-shadow:
    0 0 0 10px #1a1a1a,
    inset 0 0 100px rgb(0 0 0 / 50%);
}

.screen {
  background-color: var(--black);
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.screen-content {
  padding: 0.5rem;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  flex-shrink: 1;
  padding: 0 1.25rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
  font-size: 0.875rem;
  letter-spacing: 0.2em;
}

.title-bar {
  padding: 0.625rem 0;
  text-align: center;
  position: relative;
  margin-bottom: 0.5rem;
}

.title-text {
  font-size: 2.25rem;
  margin: 0;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  font-size: 0.875rem;
  margin-top: 0.5rem;
  flex-grow: 0;
}
